<div ng-controller="AppCtrl" class="sample">

  <md-tabs md-selected="selectedIndex" md-stretch-tabs="always">
    <md-tab ng-repeat="tab in tabs" label="{{tab.title}}">

      <div class="demo-tab">
        <div layout="row" layout-fill>
          <div class="edit-form" flex="33" layout="column" layout-fill>
            <md-text-float label="Rename this tab" ng-model="tab.title"></md-text-float>
            <br/>
            <md-button class="md-primary md-raised" ng-click="removeTab(tab)"> Remove Tab </md-button>
          </div>
          <div ng-bind="tab.content" flex></div>
        </div>
      </div>
    </md-tab>
  </md-tabs>

    <form ng-submit="addTab(tTitle,tContent)" flex>
      <md-text-float label="Active Index" ng-model="selectedIndex" disabled></md-text-float>
      <div layout="row" layout-sm="column" layout-margin layout-align="left center">
        <span class="title">Add a new Tab:</span>
        <md-text-float label="Label" ng-model="tTitle"></md-text-float>
        <md-text-float label="Content" ng-model="tContent"></md-text-float>
        <md-button class="add-tab md-primary"  type="submit" style="max-height: 40px">Add Tab</md-button>
      </div>
    </form>


</div>
