
.remove-tab {
  margin-bottom: 40px;
}

.md-button {
  display:block;
}

.demo-tab,
md-tab-content-wrapper {
  background-color: #bbdefb;
  height: 300px;
}
.edit-form {
  background: rgba(255, 255, 255, 0.3);
}
.demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box;
}
.edit-form input {
  width: 100%;
}

md-tab-wrapper {
  background-color: #1976D2 !important;
}
md-tab {
  color: #90caf9 !important;
}
md-tab.active,
md-tab:focus {
  color: white !important;
}
md-tab[disabled] {
  opacity: 0.5;
}
md-tab-wrapper .md-ripple {
  border-color: #FFFF8D !important;
}
md-ink-bar {
  background-color: #FFFF8D !important;
}

label {
  text-align: left;
}

.title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px;
}


[layout-align] > * {
  margin-left: 8px;
}

form > [layout] > * {
  margin-left: 8px;
}

.long > input {
  width: 264px;
}

.md-button {
  max-height: 30px;
}

.md-button.add-tab {
  margin-top:20px;
  max-height:30px !important;
}
